* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-primario: #751c65;
  --color-secundario: rgb(18, 37, 20);
  --color-terciario: #f18408;
  --color-cuaternario: #f16508;
  --marron: rgb(111, 86, 29);
  --blanco: #f5f7fb;
}
.logo {
  width: 280px;
}

/* empieza formulario de contacto */
#form {
  margin-top: -50px;
}
.formulario {
  background-image: linear-gradient(-225deg, rgb(18, 37, 20) 50%, var(--color-primario) 50%);
  margin: 1rem;
  border-radius: 1rem;
}
.titulo-de-form {
  margin: 0.5rem;
  color: rgba(255, 255, 255, 0.765);
  -webkit-text-stroke: 0.2px black;
}
.formulario-texto-check {
  color: rgba(255, 255, 255, 0.922);
  -webkit-text-stroke: 0.4px black;
}

.form-tex-chebox {
  color: white;
  font-weight: bolder;
}

.img-fomulario {
  width: 150px;
  height: 98px;
  object-fit: cover;
  margin: 0px;
  padding: 0px;
}

.btn-brand {
  border: none;
  background-color: var(--color-terciario);
  color: white;
  border-radius: 5px;
  padding: 5px 5px 10px;
  transition: all 0.1s ease-in;
}
.btn-brand:hover {
  background-color: var(--color-cuaternario);
}

.contenedor-form {
  display: flex;
  align-items: center;
}

.mapa {
  width: 400px;
}
/* termina formulario de contacto */

@media only screen and (max-width: 768px) {
  .contenedor-form {
    flex-direction: column;
  }
  .mapa {
    width: 350px;
  }
}

@media only screen and (max-width: 400px) {
    .contenedor-form {
      flex-direction: column;
    }
    .mapa {
      width: 250px;
    }
  }