*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color-primario: rgb(14,151,93);
    --color-secundario: rgb(18,37,20);
    --color-terciario: rgb(96,165,126);
    --color-cuaternario:rgb(40,213,145);
    --marron:rgb(111,86,29);
    --blanco: #f5f7fb;
}
.logo{
    width: 280px;
}


.curved {
    position: relative;
    background: var(--color-secundario);
    min-height: 20vh;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
}
.container{
    min-height: 65vh;
}



footer{
    background-color: var(--color-cuaternario);
}





.nav {
    background-color: var(--color-primario);
    border-radius: 5px;
  }
  .card {
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
    transition: 0.8s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
      0.8s box-shadow,
      0.8s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  
    cursor: pointer;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
  }
  .btn-cart{
    border-radius: 2px 2px 0% 0%;
  }
  footer{
    color: white;
    background-color: var(--color-secundario);
    border-top-left-radius: 80% 60%;
    border-top-right-radius: 80% 60%;
    min-height: 15vh;
}
.footer dt,dd{
    padding-top: 80px;
}
.nav-link{
    color: white;
}