:root {
  --color-primario: #751c65;
  --color-secundario: rgb(18, 37, 20);
  --color-terciario: #f18408;
  --color-cuaternario: #f16508;
  --marron: rgb(111, 86, 29);
  --blanco: #f5f7fb;
}

.logo {
  width: 180px;
}

#header {
  width: 100%;
  height: 300px;
  background-image: url(../assets/img/bannersinperro.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.garra {
  background-image: url(../assets/img/garrita.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  font-weight: bold;
  padding: 20px;
}

.garra-activa {
  background-image: url(../assets/img/garritablanca.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  font-weight: bold;
  padding: 20px;
  color: black;
  text-shadow: white 2px 2px 10px;
}
.nav-link.garra-activa {
  color: black;
}
.nav-link.garra-activa:hover {
  color: black;
}

.nav-link {
  color: white;
}
.nav-link:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.2);
  color: white;
}
.carrito {
  text-shadow: black 2px 2px 10px;
  z-index: 10;
}

@media screen and (max-width: 576px) {
  .logo {
    display: none;
  }
  .garra:not(.carrito),
  .garra-activa {
    text-shadow: none;
    background-image: none;
    padding: 4px;
  }
}

/* ---------------- FOOTER ----------------- */

.footer {
  color: white;
  background-color: var(--color-primario);
  border-top-left-radius: 80% 60%;
  border-top-right-radius: 80% 60%;
  min-height: 15vh;
}

.sociales-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.sociales-footer img {
  height: 2rem;
}

#redes {
  display: flex;
  gap: 2rem;
}

#redes a:hover {
  transform: scale(1.5);
  transition: 0.3s ease-in-out;
}

.contacto {
  display: flex;
  gap: 3rem;
}

.contacto p {
  padding-top: 80px;
}

.contacto p > a {
  text-decoration: none;
  color: var(--blanco);
}

.contacto a:hover {
  color: var(--color-terciario);
}

@media screen and (max-width: 1004px) {
  .footer {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-top-left-radius: 90% 20%;
    border-top-right-radius: 90% 20%;
  }

  .contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  .ps-3 {
    padding-top: 0 !important;
  }
}
