:root {
  --color-primario: #751c65;
  --color-secundario: rgb(18, 37, 20);
  --color-terciario: #f18408;
  --color-cuaternario: #f16508;
  --marron: rgb(111, 86, 29);
  --blanco: #f5f7fb;
  --naranja: #fc9824;
  --violeta: #751c65;
  --celeste: #58edf5;
}

.btn-cart {
  border-radius: 2px 2px 0% 0%;
}

.card {
  cursor: pointer;
  width: 225px;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  border: 1px solid var(--celeste);
  transition: all 0.2s;
  box-shadow: -12px 12px 2px -1px var(--violeta);
}
.card:hover {
  box-shadow: 12px 12px 2px 1px var(--naranja);
}

.container {
  text-align: center;
}

.nav {
  background-color: var(--color-primario);
}

.medicamentosmascotas {
  position: absolute;
  z-index: -1;
  width: 350px;
  margin-top: -160px;
}

.dogboxer {
  width: 320px;
  position: absolute;
  z-index: -1;
  margin-top: -150px;
}

.golden {
  width: 190px;
  z-index: -1;
}

.huellitas {
  position: absolute;
  z-index: -1;
  width: 600px;
}

.card-huella {
  background-image: url(../assets/img/huellas3.png);
  background-position: center;
}

@media screen and (max-width: 1210px) {
  .huellitas {
    width: 400px;
  }
}
@media screen and (max-width: 810px) {
  .huellitas {
    width: 300px;
  }
}
@media screen and (max-width: 767px) {
  .medicamentosmascotas {
    width: 300px;
    margin-left: -50px;
    margin-top: -140px;
  }
  .dogboxer {
    width: 240px;
  }
}

@media screen and (max-width: 648px) {
  .golden {
    width: 140px;
  }
  .huellitas {
    width: 200px;
  }
}
@media screen and (max-width: 504px) {
  .medicamentosmascotas {
    margin-left: -142px;
  }
}
@media screen and (max-width: 486px) {
  .card {
    width: 200px
  }
  .dogboxer {
    width: 155px;
    margin-top: -100px;
  }
  .golden {
    width: 90px;
  }
  .huellitas {
    display: none;
  }
}
@media screen and (max-width: 320px) {
  .dogboxer, .medicamentosmascotas {
    display: none;
  }
}
